
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<h2>Yeni Kategori Ekleme Sayfası</h2>
<form class="form-group" action="~/Category/AddCategory" method="post" >
    <input type="text" class="form-control" name="CategoryName" placeholder="Kategori Adı" /><br />
    <input type="text" class="form-control" name="CategoryDescription" placeholder="Kategori Açıklaması" /><br />
    <button class="btn btn-info">Ekle</button>
</form>