
@{
    Layout = null;
}
<<<<<<< HEAD
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
=======

>>>>>>> daedb645274e641e6cf8e79cc7f264a71941f664
<h3>MVC Kamp Tablo Örneği</h3>
<table class="table table-bordered">
    <tr>
        <th>
            Kategori ID
        </th>
        <th>
            Kategori Adı
        </th>
        <th>
            Açıklama
        </th>
        <th>
            Durum
        </th>
<<<<<<< HEAD
        <th>
            Güncelle
        </th>
=======
>>>>>>> daedb645274e641e6cf8e79cc7f264a71941f664
    </tr>
    <tr>
        <td>

        </td>
<<<<<<< HEAD
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            <button class="btn btn-success">Güncelle</button>
        </td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
=======
    </tr>
</table>
>>>>>>> daedb645274e641e6cf8e79cc7f264a71941f664
